extends layout

block content
  h1 Node + Express + Mongodb Example

  p Post data and save it in your mongodb database by executing "curl -d 'playerName=XXX&score=YYY' http://localhost:3000/submitScore"

  p Make sure you have your mongodb database UP AND RUNNING before trying to use this app.